/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

header, main {
	margin: auto;
	max-width: 1140px;
}

body {
	background-color: #fffef8;
	line-height: 1;
	font-family: "Work Sans";
	font-size: 14px;
	margin: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
header {
	display: flex;
	justify-content: space-between;
	padding: 2.73rem 9.4rem 5.75rem 9.4rem;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	font-weight: 400;
	cursor: pointer;
}

nav li:hover {
	font-weight: 700;
}

.js-modal {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

nav .actif {
	font-weight: 600;
}


li:hover {
	color: #b1663c;
}

input[type="text"], input[type="email"], input[type="password"], #category {
	height: 51px;
	padding-left: 1rem;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	padding: 7.2rem 0 2.5rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.categories button:hover {
	background-color: #1d6154;
	color: #ffffff;
	cursor: pointer;
}

.categories button.active {
	background-color: #1d6154;
	color: #ffffff;
}

.categories button {
	background: none;
	color: #1d6154;
	border: 1px solid #1d6154;
	border-radius: 60px;
	font-weight: 700;
	font-size: 16px;
	padding: 0.6em 1em;
}

.categories {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding-bottom: 3em;
	height: 37px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 16px;
}

.gallery img {
	padding-bottom: 7px;
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
	padding-top: 3.5rem;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login-form input {
	cursor: pointer;
}

#contact input, #contact textarea, #login-form input, #title, #category, #addPhotos, #valider {
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

input[type="submit"] {
	height: 36px;
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

.login-footer {
	bottom: 0;
}

footer nav ul {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 60px;
	background-color: #FFFFFF;
}

/* --------- Page Login --------- */
#login-container {
	justify-items: center;
	margin-top: 9.4rem;
}

#login-form {
	display: flex;
	flex-direction: column;
	width: 379px;
	gap: 7px;
	padding: 2.3rem 0;
}

#login-form input[type=submit]:hover, #valider:hover, #addPhotos:hover {
	color: #ffffff;
	background-color: #0E2F28;
}

#errorlogin {
	padding: 1rem;
	margin: 1rem 3rem;
	text-align: center;
	background-color: rgb(254, 160, 12);
	color: white;
}

/* --------- Affichage Admin --------- */

#topMenu {
	position: relative;
	background-color: #000000;
	height: 3.6rem;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

#topMenu i, .editBtn i {
	margin-right: 0.5rem;
}

#editBtn {
	display: block;
	padding-left: 1rem;
	color: #000000;
	font-size: 14px;
	font-family: "Work Sans";
	font-weight: 400;
}

/* --------- Modal --------- */

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	animation: fadeIn 0.3s both;
}

.modal[aria-hidden="true"] {
	animation: fadeOut 0.3s both;
}

.modal[aria-hidden="true"] .modalWrapper {
	animation: scaleFadeOut 0.3s both;
}

#editGallery, #addPicture {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 630px;
	height: 688px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 50px);
	border-radius: 10px;
	background-color: #FFFFFF;
	animation: scaleFadeIn 0.3s both;
}

.modalGalleryContent {
	width: 420px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 10px;
	padding: 0 6.5rem;
}

.modalGalleryContent img {
	object-fit: cover;
	width: 76px;
	height: 102.5px;
}

.js-modal-back {
	font-size: 1.1rem;
	position: absolute;
	left: 1rem;
	top: 1rem;
	background: none;
	border: none;
	cursor: pointer;
}

.js-modal-close {
	font-size: 1.1rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
	background: none;
	border: none;
	cursor: pointer;
}

.js-modal-close:focus-visible {
	background-color: lightblue;
	border-radius: 5px;
}

h3 {
	font-size: 26px;
	padding-top: 3.75rem;
	margin-bottom: 2.3rem;
}

.file-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #E8F1F6;
	border-radius: 3px;
	margin-bottom: 30px;
	max-height: 167px;
}

.preview-image {
	max-width: 100%;
	max-height: 167px;
	object-fit: contain;
}

.file-section p {
	color: #444444;
	font-size: 10px;
	padding: 7px 0 19px 0;

}

#picture-form {
	color: #B9C5CC;
	display: flex;
	flex-direction: column;
	padding: 0 6.5rem 0 6.5rem;
	color: #3D3D3D;
}

#picture-form label {
	font-weight: 600;
}

#addPictureButton {
	height: 36px;
	width: 173px;
	border: none;
	background-color: #CBD6DC;
}

.modalGalleryContent figure {
	position: relative;
}

.modalWrapper {
	position: relative;
}

.modalWrapper button.fa-trash-can {
	border: none;
	position: absolute;
	bottom: 5.1rem;
	left: 3.3rem;
	background-color: black;
	color: #FFFFFF;
	border-radius: 2px;
	padding: 4px 5px;
	font-size: 0.7rem;
	cursor: pointer;
}

hr {
	width: 420px;
	margin-top: 40px;
}

#addPhotos, #valider {
	width: 237px;
	cursor: pointer;
}

#addfile {
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background-color: #CBD6DC;
	color: #306685;
	cursor: pointer;
}

#picture {
	color: #B9C5CC;
	font-size: 4.75rem;
	padding: 13px 0 6px 0;
}

#file {
	display: none;
}

.previewImage {
	width: 100%;
	max-height: 167px;
	object-fit: contain;
}

#title, #category {
	margin: 10px 0 21px 0;
}
